@charset "UTF-8";

:root {
    --verde: #90f430;
    --vermelho-escuro: #a8112e;
    --rosa: #f5254d;
    --roxo-escuro: #5c32a8;
    --roxo: #7d3df5;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--verde);
}
header {
    background-image: linear-gradient(
        180deg,
        var(--rosa),
        var(--vermelho-escuro)
    );
    text-align: center;
    color: #fff;
    text-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.432);
}

header > h1 {
    padding: 20px 0 5px 0;
}

header > p {
    padding: 10px;
    max-width: 350px;
    margin: auto;
}

nav {
    padding: 5px;
    background-color: var(--vermelho-escuro);
    font-weight: bold;
    box-shadow: 0 5px 5px hsla(0, 0%, 0%, 0.25);
}

nav a {
    text-decoration: none;
    color: #fff;
    padding: 5px 15px;
}

nav a:hover {
    background-color: var(--roxo-escuro);
    font-weight: bold;
    border-radius: 3px;
    transition: all 200ms ease-in-out;
}

main {
    background-color: #fff;
    max-width: 800px;
    margin: auto;
    box-shadow: 0 5px 15px hsla(0, 0%, 0%, 0.5);
    padding: 20px;
    border-radius: 0 0 10px 10px;
}

main p {
    padding: 10px 0;
    line-height: 1.5em;
    text-align: justify;
    text-indent: 1.5em;
}

main h2 {
    padding-top: 10px;
}
